@{
    ViewBag.Title = "谭欢 · HappyTan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/docs.css" rel="stylesheet" />

<header class="navbar navbar-inverse navbar-fixed-top " role="banner">
    <nav class="navbar navbar-default navbar-fixed-top bg-head" role="navigation">
        <ul class="nav navbar-nav">
            <li><a href="#">链接1</a></li>
            <li><a href="#">链接2</a></li>
            <li><a href="#">链接3</a></li>
            <li><a href="#">链接4</a></li>
            <li><a href="#">链接5</a></li>
        </ul>
    </nav>
</header>

<div id="content" class="jumbotron bg-content">
    <div style="margin-top:250px">
        <h1>HappyTan</h1>
    </div>
</div>
